name: Deploy to AWS with Terraform

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write  # required for OIDC

jobs:
  deploy-iac:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      DOMAIN_NAME: ofiliyoungyz.site
    steps:
      # 1️⃣ Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Configure AWS credentials using OIDC
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      # 3️⃣ Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.14.0"

      # 4️⃣ Terraform Init, Format & Validate
      - name: Terraform Init
        run: terraform init
      - name: Terraform Format
        run: terraform fmt -check
      - name: Terraform Validate
        run: terraform validate

      # 5️⃣ Security Scan
      - name: tfsec Security Scan
        run: |
          curl -sLo tfsec https://github.com/aquasecurity/tfsec/releases/download/v1.28.11/tfsec-linux-amd64
          chmod +x tfsec
          ./tfsec --version
          ./tfsec . || true

      # 6️⃣ Terraform Plan & Apply
      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve

      - name: Install kubectl
        if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main'
        run: |
          if ! command -v kubectl &> /dev/null; then
            curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
          else
            echo "kubectl already installed"
            kubectl version --client
          fi

      - name: Update kubeconfig for EKS
        if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main'
        run: aws eks update-kubeconfig --name production-eks-cluster --region ${{ secrets.AWS_REGION }}

      - name: Deploying the ClusterIssuer to EKS
        if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main'
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: kubectl apply -f ClusterIssuer.yaml

      - name: Deploying argocd ingress rule to EKS
        if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main'
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: kubectl apply -f ingress-argocd.yaml -n argocd

      # # 1️⃣1️⃣ Optional: Destroy resources (for testing only)
      # # - name: Terraform Destroy
      # #   run: terraform destroy -auto-approve
